In [ ]:
import pandas as pd

from ethnicolr import census_ln, pred_census_ln

names = [{'name': 'smith'},
        {'name': 'zhang'},
        {'name': 'jackson'},
        {'name': 'maharjan'},
        {'name': 'rai'},
        {'name': 'lopez'},
        {'name': 'shakya'},
        {'name': 'jin'},
         {'name': 'bamiwo'},
         {'name': 'khan'},
         {'name': 'abmayomi'},
         {'name': 'stepanov'},
         {'name': 'olaya'},
         {'name': 'lujan'},
         {'name': 'kang'},
         {'name': 'singh'},
         {'name': 'valdez'},
         {'name': 'rincon'},
         {'name': 'zhang'},
         {'name': 'zadow'}]
df = pd.DataFrame(names)

# df

In [4]:
census_ln(df, 'name')

        name pctwhite pctblack pctapi pctaian pct2prace pcthispanic
0      smith    73.35    22.22   0.40    0.85      1.63        1.56
1      zhang     0.61     0.09  98.16    0.02      0.96        0.16
2    jackson    41.93    53.02   0.31    1.04      2.18        1.53
3   maharjan      NaN      NaN    NaN     NaN       NaN         NaN
4        rai     5.41     1.38  81.77    0.38      9.50        1.57
5      lopez     5.85     0.61   1.04    0.47      0.52       91.51
6     shakya      (S)     4.90  84.31     (S)      5.88        0.00
7        jin     1.54     0.27  96.39    0.25      1.20        0.35
8     bamiwo      NaN      NaN    NaN     NaN       NaN         NaN
9       khan     7.92     3.26  70.50    0.47     15.63        2.22
10  abmayomi      NaN      NaN    NaN     NaN       NaN         NaN
11  stepanov    96.87      (S)   0.00    0.00      2.51         (S)
12     olaya     5.44      (S)   4.39     (S)      2.11       86.84
13     lujan     9.06     0.20   1.27    3.04      0.89       85.54
14      kang     4.19     0.71  92.45    0.07      2.12        0.46
15     singh     3.51     3.09  74.44    1.01     15.30        2.65
16    valdez     6.84     0.54   3.36    0.71      0.73       87.82
17    rincon     5.34     0.26   0.18    0.30      0.47       93.46
18     zadow    98.90      (S)   0.00    0.00      0.00         (S)

In [5]:
df = pred_census_ln(df, 'name')

2024-06-06 09:11:05.574027: W tensorflow/core/common_runtime/gpu/gpu_device.cc:2211] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [7]:
df

        name       api     black  hispanic     white      race
0      Smith  0.008322  0.215059  0.029183  0.747435     white
1      Zhang  0.995437  0.000715  0.001243  0.002605       api
2    Jackson  0.004560  0.537857  0.018684  0.438898     black
3   Maharjan  0.749417  0.098781  0.018045  0.133758       api
4        Rai  0.765560  0.046871  0.024481  0.163089       api
5      Lopez  0.008510  0.005643  0.936194  0.049653  hispanic
6     Shakya  0.990300  0.001654  0.001827  0.006219       api
7        Jin  0.979642  0.002589  0.001698  0.016070       api
8     Bamiwo  0.200777  0.231276  0.049048  0.518900     white
9       Khan  0.864759  0.056773  0.007339  0.071129       api
10  Abmayomi  0.023692  0.058388  0.021279  0.896640     white
11  Stepanov  0.005822  0.022873  0.019073  0.952231     white
12     Olaya  0.025327  0.005110  0.930788  0.038776  hispanic
13     Lujan  0.013611  0.001975  0.904685  0.079729  hispanic
14      Kang  0.980834  0.001569  0.002664  0.014933       api
15     Singh  0.934364  0.033111  0.011099  0.021426       api
16    Valdez  0.015332  0.005730  0.917081  0.061857  hispanic
17    Rincon  0.002333  0.002444  0.972611  0.022613  hispanic
18     Zadow  0.011946  0.032165  0.029936  0.925953     white

In [8]:
df = pd.read_csv('/data2/julina/scripts/tweets/2020/01/user_csv/2020_01_01.csv')
df = df[:100]
df = df.loc[:, ~df.columns.str.match('  ')]
df = df.loc[:, ~df.columns.str.match('label')]
df = df.loc[:, ~df.columns.str.match('text_y')]

In [9]:
df

,Unnamed: 0,id,created_at,text,user_id,name,screen_name,description
0,0,1212519876146810880,Wed Jan 01 23:44:00 +0000 2020,USER not well eat soggy,956914320188743680,hyeyoon.,h_yeyoon,ㅤㅤㅤ𝐒𝐭𝐫𝐢𝐜𝐭𝐥𝐲 Eng. 𝟏𝟗𝟗𝟔. ♡₊· ͟͟͞͞➳ A @9OR6EOUS a...
1,1,1212519876146823168,Wed Jan 01 23:44:00 +0000 2020,USER son stay argue fortnite telling people dr...,3329553669,Jordann💜,yannojordannn,amosc~Jordan4days14
2,2,1212519876142735360,Wed Jan 01 23:44:00 +0000 2020,bot need racist ahegao,1153773923265339393,Zayne's Shitposting Machine,realZayne64,From Bot - reply to me to talk to me i am lone...
3,3,1212519876134408193,Wed Jan 01 23:44:00 +0000 2020,go sit fact set straight,1015424689911554048,dee 🌎,snoobicore,luv4eva nd eva 8-0 🚦 ... blueming
4,4,1212519876167917569,Wed Jan 01 23:44:00 +0000 2020,shit kill trippin acic,2282899404,Dgirl,FrenchhToastedd,Cash app: $Lynette1224
...,...,...,...,...,...,...,...,...
95,95,1212519897143508992,Wed Jan 01 23:44:05 +0000 2020,USER jyp say look report twice momo super juni...,893449510675816449,‘유한원’ 🦈,8wyttyw8,NCT | SKZ | SVT | WAYV — feat. YuTae DoTen Lee...
96,96,1212519897110138882,Wed Jan 01 23:44:05 +0000 2020,USER one last ride gator nation HTTPURL,3298820482,Austin Alderson,AustinAlderson_,21 years young chasing dreams!
97,97,1212519897122648064,Wed Jan 01 23:44:05 +0000 2020,USER hoodies 25 week,706316299115180032,Cristian🎄❄️,cristiann_57,NaN
98,98,1212519897110138880,Wed Jan 01 23:44:05 +0000 2020,USER 𝐅𝐑𝐄𝐄 𝐆𝐀𝐌𝐄 whitemediumstar HTTPURL 𝐅𝐑𝐄𝐄 𝐆𝐀...,1160878484228628481,kendrick gonzalez,kendric17580618,yo
99,99,1212519897139437569,Wed Jan 01 23:44:05 +0000 2020,USER rest world leader stupid australia hold b...,37924260,Heshan Berents-Weeramuni🗳,wheresmyporsche,Comms director + design + policy = #PollutersP...

In [10]:
df = pred_census_ln(df, 'name')

In [11]:
df[['name', 'race']]

                           name      race
0                      Hyeyoon.     white
1                      Jordann💜     white
2   Zayne'S Shitposting Machine     white
3                         Dee 🌎     white
4                         Dgirl     white
..                          ...       ...
94                      ‘유한원’ 🦈       api
95              Austin Alderson     white
96                  Cristian🎄❄️  hispanic
97            Kendrick Gonzalez  hispanic
98    Heshan Berents-Weeramuni🗳       api

[99 rows x 2 columns]